*.class
.vscode
.idea
*.swp
.DS_Store
*.jar
desafio-14/alverad-katsuro/java/.settings/org.eclipse.jdt.core.prefs
.gitignore
desafio-14/alverad-katsuro/java/.settings/org.eclipse.jdt.apt.core.prefs
desafio-14/alverad-katsuro/java/.settings/org.eclipse.core.resources.prefs
.gitignore
desafio-14/alverad-katsuro/java/.classpath
desafio-14/alverad-katsuro/java/.project
desafio-14/alverad-katsuro/java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
desafio-14/alverad-katsuro/java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
