# Criado automaticamente ao abrir o README no Visual Studio Code (configuração da extensão que uso para manipular markdowns)
README.html

# Configuração do ambiente Python
create_python3.11_environment.sh
setup.sh
activate_python3.11_environment.sh
requirements.in
*.txt

# Arquivos texto com casos de teste para a execução do desafio-08
!frac.txt
!exemplo_frac.txt